@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Roboto+Mono&display=swap');

:root{
    --font-montserrat: 'Montserrat', sans-serif;
    --font-roboto: 'Roboto Mono', monospace;
}

.tarefa {
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: #ef96ff;
    border-radius: 1rem;
    margin: 2rem 1rem 0 1rem;
}

.texto{
    padding-left: 1rem;
}

.texto p {
    font-family: var(--font-roboto);
    font-size: 18px;
    cursor: pointer;
}

.completed{
    text-decoration-line: line-through;
}

.botoes {
    padding-right: 1rem;
    cursor: pointer;
}

.edit {
    padding-right: 1rem;
}